.card {
    display: flex;
    flex-direction: column;
    color: rgb(32, 32, 32);
    background-color: rgb(247, 247, 247);
    border: 1.9px solid #ffb1bb;
    border-radius: 5px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1;
}

.card>h2 {
    color: rgb(255, 71, 71);
}